{% extends 'base.html' %}
{% block content %}
<h1>Discussions</h1>
{% if user.is_authenticated %}
<a href="{%url 'create_discussion' %}">Create Discussion</a>
{% endif %}
{% for discussion in discussions %}
<p><strong>Categories:</strong>
    {% for category in discussion.categories.all %}
        <span>{{ category.name }}{% if not forloop.last %}, {% endif %}</span>
    {% endfor %}
</p>
<h3><a href="{% url 'discussion_detail' discussion.pk %}">{{ discussion.title }}</a></h3>
<small>By <a href="{% url 'profile' discussion.author.username %}">@{{ discussion.author.username }}</a> on {{ discussion.created_at }}</small>

<hr>
{% endfor %}
{% endblock %}